### 1. Print numbers from 1 to 10 using a for loop

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [9]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [12]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [13]:
a="Python"
for i in a:
    print(i)

P
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [16]:
for i in range(1,6):
    print(i**2)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [17]:
lst=["Sagar","Sachin","Sparsh"]
for i in lst:
    print(i)

Sagar
Sachin
Sparsh

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [10]:
total1=0
for i in range(0,51):
    total1=total1+i
print(total1)

1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [37]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [38]:
for i in range(7,71,7):
    print(i)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [41]:
text = 'education'
vowels = 'aeiou'  
count = 0

for char in text:
    if char in vowels:
        count = count + 1 # किंवा count += 1

print(f"'{text}' या शब्दातील स्वरांची संख्या: {count}")

'education' या शब्दातील स्वरांची संख्या: 5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [26]:
for i in range(1,31,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [42]:
a="SPARShDESai"
count=0
for i in a:
    if i.upper()==i:
        count=count+1
count

8

### 12. Create a new list that contains only the positive numbers from another list

In [43]:
numbers = [3, -5, 7, -2, 0, 9]

positive_numbers = []

for num in numbers:
    if num > 0:
        positive_numbers.append(num)

print(positive_numbers)

[3, 7, 9]

### 13. Print numbers from 1 to 10 using a while loop

In [29]:
while i in range(0,11):
    print(i)

### 14. Print all multiples of 5 up to 50 using a while loop

### 15. Print numbers from 10 to 1 in reverse using a while loop

### 16. Keep asking the user to enter numbers until the user enters 0

In [45]:
num = int(input("Enter a number (0 to stop): "))

while num != 0:
    print("You entered:", num)
    num = int(input("Enter a number (0 to stop): "))

print("Done.")

Done.

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [21]:
fruits = {
    "Apple": 120,
    "Banana": 40,
    "Mango": 90,
    "Orange": 60,
    "Grapes": 80
}

for key in fruits:
    print(key)

Apple
Banana
Mango
Orange
Grapes

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [20]:
fruits = {
    "Apple": 120,
    "Banana": 40,
    "Mango": 90,
    "Orange": 60,
    "Grapes": 80
}

for key,value in fruits.items():
    print(value)

120
40
90
60
80

### 20. Print both keys and values of a dictionary using a for loop

In [46]:
marks1 = {"Sagar": 82, "Sachin": 32, "Sparsh": 63}

for key, value in marks1.items():
    print(key,":",value)

Sagar : 82
Sachin : 32
Sparsh : 63

### 21. Count how many keys are in a dictionary using a for loop

In [47]:
marks1 = {"Sagar": 82, "Sachin": 32, "Sparsh": 63}
count = 0

for key in marks1:
    count += 1    

print(count)

3

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [49]:
fruits = {
    "Apple": 120,
    "Banana": 40,
    "Mango": 90,
    "Orange": 60,
    "Grapes": 80
}

for key in fruits:
    if key.startswith("A"):
        print(key)

Apple

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [51]:
marks1 = {"Sagar": 82, "Sachin": 32, "Sparsh": 63}

for key, value in marks1.items():
    if value > 80:
        print(key, value)

Sagar 82

### 24. Given a dictionary, print the sum of all the values using a for loop

In [52]:
marks = {"Sagar": 42, "Sachin": 32, "Sparsh": 63}

total = 0
for key, value in marks.items():
    total += value   

print(total)

137

### 25. Given a dictionary, find the key with the highest value using a for loop

In [53]:
# dict1 = {"Sagar": 32, "Sparsh": 25, "Prem": 34, "Kishan": 24}
# for name in dict1:
#     print(name,":")
    
my_dict = {"a": 10, "b": 55, "c": 32, "d": 18}

max_key = ""
max_value = 0

for key in my_dict:
    if my_dict[key] > max_value:
        max_value = my_dict[key]
        max_key = key

print(max_key, max_value)

b 55

### 26. Convert all dictionary keys into a list using a for loop

In [23]:
my_dict = {"name": "Sagar", "age": 25, "city": "Pune", "job": "Engineer"}

keys_list = []

for key in my_dict:
    keys_list.append(key)

print(keys_list)

['name', 'age', 'city', 'job']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [29]:
words = {"Python":6, "AI":2, "Laptop":6, "Code":4, "Data":4}

for key, value in words.items():
    print(key,value)

Python 6
AI 2
Laptop 6
Code 4
Data 4

### 28. Given a list of numbers, print only numbers greater than 10

In [20]:
lst=[31,23,42,1,4]
for num in lst:
    if num>10:
        print(num)

31
23
42

### 29. Count how many elements in a list are integers using a for loop

In [19]:
lst = ["fa", 32, "ew", 22]

count = 0

for item in lst:
    if type(item) == int:  
        count += 1

print(count)

2

### 30. Print the sum of all even numbers in a list using a for loop

In [34]:
lst=[3,4,5,6]
total=0
for i in lst:
    if not i%2==0:
        total+=i
print(total)

8

### 31. Print the cube of each number in a list of 5 numbers

In [14]:
lst=[3,4,5,6]
for i in lst:
    print(i**3)

27
64
125
216

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [13]:
sentence = "Python is fun"

for word in sentence.split():
    print(word)

Python
is
fun

### 33. Print the first 5 multiples of 3 using a for loop

In [35]:
for i in range(3,16,3):
    print(i)

3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [12]:
lst = ["Sagar", "Anup", "Arvind", "Anuja", "Siri"]

for name in lst:
    if name.startswith("A"):
        print(name)

Anup
Arvind
Anuja

### 35. Find the largest number in a list using a for loop

In [36]:
lst = [10, 20, 30, 40, 50]

max_value = lst[0]     

for num in lst:
    if num > max_value:
        max_value = num

print(max_value)

50

### 36. Print the index and value of each element in a list

In [5]:
lst = [10, 20, 30, 40, 50]

for i in range(len(lst)):
    print(i, lst[i])

0 10
1 20
2 30
3 40
4 50

### 37. Create a dictionary with 5 students and their marks

In [35]:
dic={"Sagar":83,"Sachin":70,"Sparsh":66,"Siri":89,"Kishan":84}

### 38. Use a for loop to print all student names

In [ ]:
dic={"Sagar":83,"Sachin":70,"Sparsh":66,"Siri":89,"Kishan":84}
for i in dic:
    print(i)

Sagar
Sachin
Sparsh
Siri
Kishan

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [75]:
fruits_price = {
    "Apple": 120,
    "Banana": 40,
    "Mango": 150,
    "Orange": 60,
    "Grapes": 90
}

for fruits, price in fruits_price.items():
    print(fruits,":",price)

Apple : 120
Banana : 40
Mango : 150
Orange : 60
Grapes : 90

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [34]:
dic1={"iPhone":15,"Samsung":18,"Pixel":31,"Realme":42,"OnePlus":23}
val=0

for key,value in dic1.items():
    val= value + value*0.10
    print(key,":", val)

iPhone : 16.5
Samsung : 19.8
Pixel : 34.1
Realme : 46.2
OnePlus : 25.3

In [33]:
dic={"iPhone":15,"Samsung":18,"Pixel":31,"Realme":42,"OnePlus":23}

for key in dic:
    dic[key] = dic[key] + (dic[key] * 0.10)

print(dic)

{'iPhone': 16.5, 'Samsung': 19.8, 'Pixel': 34.1, 'Realme': 46.2, 'OnePlus': 25.3}

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [32]:
my_dict = {
    "item1": 10,
    "item2": 20,
    "item3": 30,
    "item4": 40,
    "item5": 50,
    "item6": 60,
    "item7": 70,
    "item8": 80,
    "item9": 90,
    "item10": 100
}

for value in list(my_dict):
    if my_dict[value] < 50:
        del my_dict[value]

print(my_dict)

{'item5': 50, 'item6': 60, 'item7': 70, 'item8': 80, 'item9': 90, 'item10': 100}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated key–value pairs

In [21]:
subjects = {
    "Math": 88,
    "Science": 92,
    "English": 75,
    "History": 81,
    "Computer": 95
}

subjects["Marathi"]=67

for key,value in subjects.items():
    print(key,value)

Math 88
Science 92
English 75
History 81
Computer 95
Marathi 67

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [18]:
dic122={"Sagar":30,"Sachin":24}


for key,value in dic122.items():
    value= value+1
    print(key,value)

Sagar 31
Sachin 25

### 44. Print numbers from 0 to 9 using range()

In [7]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [6]:
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [5]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [4]:
lst=["King","Kong","Ding","Dong"]
len(lst)

4

### 48. Print the length of a given string using len()

In [3]:
a="KingMaker"
len(a)

9

### 49. Use range() and len() to iterate over a list by index and print each element

In [2]:
lst=[32,34,542,52]

for num in range(len(lst)):
    print(num,lst[num])

0 32
1 34
2 542
3 52

### 50. Print the sum of numbers from 1 to 100 using range()

In [32]:
sum=0

for i in range(1,101):
    sum+=i
print(sum)

5050