### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [3]:
dic = {"name":"Sparsh","age":8,"city":"Belgaon"}
dic

{'name': 'Sparsh', 'age': 8, 'city': 'Belgaon'}

### 2. Create a dictionary and print the value of a specific key.

In [4]:
dic1 = {"name":"Sagar","age":27,"city":"Kolhapur"}
dic1["name"]
print(dic1["name"])

Sagar

### 3. Create a list of 5 numbers and print the second element.

In [13]:
lst=[3,353,52,64,75]
lst[1]

353

### 4. Add an element "banana" to an existing list.

In [31]:
fruits = ["Apple", "Mango", "Orange", "Grapes"]
fruits
fruits.append("Banana")
fruits

['Apple', 'Mango', 'Orange', 'Grapes', 'Banana']

### 5. Insert "apple" at index 2 in a list.

In [20]:
fruits = ["Apple", "Mango", "Orange", "Grapes"]
fruits.insert(2,"apple")
fruits

['Apple', 'Mango', 'apple', 'Orange', 'Grapes']

### 6. Remove the element 10 from a list.

In [36]:
numbers = [5, 10, 15, 20, 25]
numbers.remove(10)
numbers

[5, 15, 20, 25]

### 7. Create a tuple with 4 elements and print the last one.

In [41]:
tpl=("Sagar","Sparsh","Sachin","Sanskar")
tpl
tpl[3]

'Sanskar'

### 8. Convert a tuple into a list.

In [15]:
tp2=("Sagar","Sparsh","Sachin","Sanskar")
tp2
converted_lst = list(tp2)
print(converted_lst)

['Sagar', 'Sparsh', 'Sachin', 'Sanskar']

### 9. Find the length of a given tuple.

In [16]:
tp3=("Sagar","Sparsh","Sachin","Sanskar")
len(tp3)
tp3.__len__()

4

### 10. Store 5 student names in a list and print them using a loop.

In [17]:
names1 = ["sagar","sachin","sparsh","siri","sanskruti"]
names1

['sagar', 'sachin', 'sparsh', 'siri', 'sanskruti']

### 11. Create two lists and concatenate them.

In [ ]:
list1 = ["Apple", "Banana", "Mango", "Grapes"]
list2 = [10, 20, 30, 40, 50, 60]
list1
list2
list1+list2
list1.extend(list2)
list1
list2

[10, 20, 30, 40, 50, 60]

### 12. Reverse a list without using reverse().

In [ ]:
list3 = ["Red", "Blue", "Green", "Yellow", "Black"]
list3
list3[-1::-6]

[]

### 13. Sort a list in descending order.

In [47]:
lst = [10, 789, 323, 7]
lst
lst.sort(reverse=True)
lst

[789, 323, 10, 7]

### 14. Create a set with 5 numbers and add a new number.

In [49]:
num_set = {10, 20, 30, 40, 50}
num_set
num_set.add(34)
num_set

{10, 20, 30, 34, 40, 50}

### 15. Remove an element from a set using discard().

In [50]:
num_set.discard(34)
num_set

{10, 20, 30, 40, 50}

### 16. Find the union of two sets.

In [53]:
set1 = {10, 15, 30, 40}
set2 = {5, 15, 25, 35, 45}

set1.union(set2)

{5, 10, 15, 25, 30, 35, 40, 45}

### 17. Find the intersection of two sets.

In [55]:
set1 = {10, 15, 30, 40}
set2 = {5, 15, 25, 35, 45}
set1.intersection(set2)

{15}

### 18. Check if a value exists in a set.

In [57]:
set1 = {10, 15, 30, 40}
set1.__contains__(15)

True

### 19. Create a set and clear all elements.

In [60]:
set13 = {10, 15, 30, 40}
set13.clear()
set13

set()

### 20. Convert a list with duplicate values into a set.

In [62]:
lst2=[23,42,54,23,42,54,76]
lst2
set_modified=set(lst2)
set_modified

{23, 42, 54, 76}

### 21. Create a dictionary and update the value of a key.

In [68]:
student = {"name": "Sagar", "age": 27, "city": "Pune"}
student
student["name"]="Sachin"
student

{'name': 'Sachin', 'age': 27, 'city': 'Pune'}

### 22. Delete a key-value pair from a dictionary.

In [76]:
emp = {"id": 101, "name": "Rahul", "salary": 45000}
emp
del emp["id"]
emp

{'name': 'Rahul', 'salary': 45000}

### 23. Print all keys of a dictionary.

In [82]:
emp1 = {"id": 101, "name": "Rahul", "salary": 45000}
emp1
emp1.keys()

dict_keys(['id', 'name', 'salary'])

### 24. Print all values of a dictionary.

In [83]:
emp1 = {"id": 101, "name": "Rahul", "salary": 45000}
emp1.values()

dict_values([101, 'Rahul', 45000])

### 25. Loop through a dictionary and print key and value.

{'id': 101, 'name': 'Rahul', 'salary': 45000}

### 26. Create a list of numbers and print only even numbers.

In [ ]:
#Not able to solve

### 27. Create a tuple and unpack it into 3 variables.

In [ ]:
#not able to solve

### 28. Check if a number is greater than 10 using a comparison operator.

In [85]:
numbers1=34
numbers1 > 10

True

In [ ]:
32 > 10

### 29. Use the in operator to check if "python" exists in a list.

In [90]:
lst3=["python","SQL"]
"Python" in lst3

False

### 30. Use the and operator in a condition.

In [94]:
numbers1 >10 and numbers1 ==10

False

### 31. Use the % operator to check if a number is divisible by 5.

In [98]:
numbers1 % 5

4

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [99]:
2**5

32

### 33. Create two numbers and compare them using >=.

In [100]:
num1 =234
num2 = 9423
num1 >= num2

False

### 34. Create a list and remove the last element using pop().

In [104]:
lst4=[823,94823,9432,4523,5429]
lst4
lst4.pop()
lst4

[823, 94823, 9432, 4523]

### 35. Create a list and print its first and last elements.

In [119]:
lst5=["Pen","Pencil","Book","Notebook"]
lst5
print(lst5[0],lst5[3])

Pen Notebook

### 36. Count how many times "apple" appears in a list.

In [121]:
fruits = ["Apple", "Apple", "Apple", "Mango", "Orange", "Grapes"]
print(fruits)
fruits.count("Apple")

['Apple', 'Apple', 'Apple', 'Mango', 'Orange', 'Grapes']

3

### 37. Create a tuple and check if a value exists using in.

In [123]:
tp4 = ("Red", "Blue", "Green", "Yellow")
print(tp4)
"Red" in tp4

('Red', 'Blue', 'Green', 'Yellow')

True

### 38. Convert a dictionaryâ€™s keys into a list.

In [128]:
dic2 = {"name": "Sagar", "age": 27, "city": "Pune"}
lst6=list[dic2.keys()]

lst6

list[dict_keys(['name', 'age', 'city'])]

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [ ]:
dic4={"Name":"Sagar","Marks":83,"Subjects":dic2}
dic4

# Not sure

{'Name': 'Sagar',
 'Marks': 83,
 'Subjects': {'name': 'Sagar', 'age': 27, 'city': 'Pune'}}

### 40. Merge two dictionaries into one.

In [16]:
country_capitals = {"France": "Paris", "Japan": "Tokyo", "Brazil": "Brasilia", "India": "New Delhi", "Canada": "Ottawa"}
weather_today = {"city": "London", "temperature_c": 12, "condition": "Cloudy"}
country_capitals.update(weather_today)
country_capitals

{'France': 'Paris',
 'Japan': 'Tokyo',
 'Brazil': 'Brasilia',
 'India': 'New Delhi',
 'Canada': 'Ottawa',
 'city': 'London',
 'temperature_c': 12,
 'condition': 'Cloudy'}

### 41. Create a set and print the number of elements.

In [11]:
set2={9032,84,43,44}
set2
print(set2)
set2

{9032, 43, 84, 44}

{43, 44, 84, 9032}

### 42. Create a dictionary and print all items using items().

In [20]:
dic6={"Name":"Sagar","Marks":83,"Subjects":"Maths"}
dic6
dic6.items()

dict_items([('Name', 'Sagar'), ('Marks', 83), ('Subjects', 'Maths')])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [18]:
lst7= [1,2,3,4,5,6,7,8,9,10]
for i in lst7:
    print(i**2)

1
4
9
16
25
36
49
64
81
100

### 44. Multiply two numbers and print the result using *.

In [31]:
a=21
b=42
print(a*b)

882

### 45. Divide two numbers and print the results using / and //.

In [36]:
a=34 
b=6
print(a%b)
print(a/b)
print(a//b)

4
5.666666666666667
5

### 46. Create a list and replace the element at index 1.

In [39]:
lst8=[23,249,3289,430]
lst8
lst8[1]=43
lst8

[23, 43, 3289, 430]

### 47. Create a tuple from user input (3 values).

### 48. Create a set from a string and print all unique characters.

In [ ]:
st4={"sagar","sachin","sachin","Sagar"}
st4
st4.union()

{'Sagar', 'sachin', 'sagar'}

### 49. Use the is operator to compare two variables.

In [42]:
p=43
q=42
p is q

False

### 50. Create a dictionary and check if a key exists using in.

In [44]:
dic10={"Name":"Sagar","Marks":83,"Subjects":"Maths"}
"Name" in dic10

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [49]:
a = 3
a >10 and a <50

False

### 52. Check if a number is less than 5 or greater than 20 using or.

In [51]:
a=32

a <5 or a >20

True

### 53. Use not to check if a list is not empty.

In [6]:
lst12=[21,321,42]
lst12
if not len(lst12)==0:
    print("List is not empty")
else :
    print("List is empty")

List is not empty

### 54. Write code to check if a character is a vowel using or.

In [14]:
ip= input()
char=ip.lower()
if char=="a" or char== "e" or char=="i" or char== "o" or char == "u":
    print("char is vowel")
else:
    print("char is not vowel")

char is not vowel

### 55. Check if a dictionary has both keys "name" and "age".

In [7]:
dic2 = {"name": "Sagar", "age": 27, "city": "Pune"}
dic2.__contains__("name" and "age")

True

### 56. Verify if a set contains either 10 or 20.

In [7]:
set10= {238,3289,10,430,23}
set10.__contains__(10 or 20)

True

### 57. Use not to check if a number is not equal to 100.

In [10]:
a=120
a
not a

False

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [11]:
marks = 87
attendance= 74
marks>35 and attendance >75

False

### 59. Use logical operators to check if a number is positive and even.

In [12]:
a = 31
a >1 and a%2

1

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [2]:
tp5 = (32,3,43,4)
0 in tp5 or len(tp5)>3

True